<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1 class="h3 mb-3 font-weight-normal">Registro nuevo</h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",placeholder:"Ingrese su correo electronico" %>
    <%= f.text_field :user_name, class:"form-control",placeholder:"Ingrese su nombre de usuario" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimos)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control",placeholder:"Ingrese su contraseña" %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control",placeholder:"Confirme su contraseña" %>

    <%= f.submit "Registrarse",class:"btn btn-lg btn-primary btn-block" %>
<% end %>

