<table id="activity_logs_tb" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Bebé</th>
    <th scope="col">Asistente</th>
    <th scope="col">Actividad</th>
    <th scope="col">Inicio</th>
    <th scope="col">Estamos</th>
    <th scope="col">Duración</th>
  </tr>
  </thead>
  <tbody id="activity_logs_tbody">
  <% @activity_logs.each do |activity_log| %>
    <tr>
      <td><%=activity_log["baby"] %></td>
      <td><%=activity_log["assistant"] %></td>
      <td><%=activity_log["activity"] %></td>
      <td><%=activity_log["start_time"] %></td>
      <td><%=activity_log["status"] %></td>
      <td><%=activity_log["duration"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>