<div class="row">
  <div class="col-md-3">
    <select id="baby_select" class="select-picker">
      <option value="">Seleccionar bebé</option>
      <% @babies.each do |baby| %>
      <option value="<%=baby["id"] %>"> <%=baby["name"] %></option>
        <% end %>
    </select>
  </div>
  <div class="col-md-3">
    <select id="assistant_select" class="select-picker">
      <option value="">Seleccionar asistente</option>
      <% @assistants.each do |assistant| %>
        <option value="<%=assistant["id"] %>"> <%=assistant["name"] %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-3">
    <select id="status_select" class="select-picker">
      <option value="">Todos</option>
      <option value="1">Terminado</option>
      <option value="0'">En proceso</option>
    </select>
  </div>
  <div class="col-md-3" style="border: 1px #2E2F30">
    <button id="search_activity_logs_btn" type="button" class="btn btn-secondary">Buscar</button>
  </div>
  <div class="col-md-12" id="activity_log_data_div">

  </div>
</div>

<%= hidden_field_tag 'search_activity_logs_url', activity_logs_data_activity_logs_path %>
