<%= form_for(resource, as: resource_name, url: session_path(resource_name),class:"form-signin") do |f| %>
  <img class="mb-4" src="https://image.flaticon.com/icons/svg/1000/1000946.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Inicio de sesión</h1>
    <%= f.text_field :login, class:"form-control",placeholder:"Ingrese su nombre de usuario o correo electronico" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control",placeholder:"Ingrese su contraseña" %>
  <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me%>
      <%= f.label :remember_me,"Recordarme"  %>
  <% end %>
    <%= f.submit "Iniciar sesión",class:"btn btn-lg btn-primary btn-block" %>
<% end %>
