<!DOCTYPE html>
<html>
<head>
  <title>KineduWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "KINEDU" , root_path, method: :get,class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Actividades" , activity_logs_path, method: :get,class: "nav-link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "Perfil" , edit_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <li class="btn btn-outline-success my-2 my-sm-0"><%= link_to "Log Out" , destroy_user_session_path, method: :delete %></li>
      </form>
  <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Iniciar sesión" , new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Registrarse" , new_user_registration_path, method: :get,class: "nav-link" %>
        </li>
      </ul>
  <% end %>
  </div>
</nav>
<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class type %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= message %></p>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>